.modal{
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}
.modal.active{
    opacity: 1;
    pointer-events: auto;
}
[draggable="true"] {
    cursor: grab;
}
[draggable="true"]:active {
    cursor: grabbing;
}